@import './global.scss';

$header-background: $snore-white;
$title-color: $snore-black;

.header {
    display: block;
    background-color: $header-background;

    h1 {
        margin: auto;
        color: $title-color;
        font-family: 'Permanent Marker';
        font-weight: 400;
        padding-bottom: 10px;

        a {
            cursor: pointer;
            -moz-user-select: none;
            -webkit-user-select: none;
        }
    }

    button {
        width: 32px;
        height: 32px;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .h_btn_side {
        margin-left: 16px;

        img {
            content: url('../icons/sidebar.svg');
        }
    }

    .h_btn_search {
        margin-right: 16px;

        img {
            content: url('../icons/search.svg');
        }
    }
}

.header.normal {
    height: 200px;

    h1 {
        font-size: 70px;
    }
}

$header-mini-height: 80px;

.header.mini {
    position: fixed;
    top: -$header-mini-height;
    left: 0;
    width: 100%;
    height: $header-mini-height;
    transition-duration: 0.2s;

    h1 {
        font-size: 50px;
    }
}

.header.mini.active {
    top: 0;
}
