@import './global.scss';

$article-title-background: white;
$article-background: white;

.postlist {
    width: 1000px;
    margin: 10px auto;
    font-family: 'Noto Sans';
    padding: 15px;
    background: white;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
}

.message_container {
    width: 100%;
    height: 700px;
    display: grid;
    place-items: center;
    font-size: 30px;
}

.pl_list {
    display: grid;
}

.pl_pages {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin: 0 5px;
    }
}