@import './global.scss';

.postlist {
    width: 1000px;
    margin: 10px auto;
    font-family: 'Noto Sans';
    padding: 30px;
    background: white;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
}

.pl_list {
    display: grid;

    .pl_card {
        display: grid;
        border-radius: 5px;
        margin-bottom: 30px;
        -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.33);
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;

        div {
            padding: 5px 10px;
        }

        .pl_card_header {
            display: grid;
            background-color: $snore-dark-grey;
            color: white;
            align-items: center;
            justify-content: space-between;
            transition: background-color 0.5s;
            grid-template-columns: 2fr 1fr;

            .pl_card_title {
                font-size: 24px;
            }

            .pl_card_tag_container {
                display: flex;
                padding: 0;
                flex-wrap: wrap;
                justify-content: flex-end;

                .pl_card_tag {
                    padding: 2px 5px;
                    margin: 5px;
                    border-radius: 10px;
                    background-color: $snore-white;
                    color: $snore-dark-grey;
                    transition: color 0.5s;
                }
            }
        }

        .pl_card_content {
            padding: 10px 15px;
            color: $snore-black;
        }

        .pl_card_updatedate {
            padding: 10px 15px;
            color: $snore-grey;
            font-size: 12px;
        }
    }

    .pl_card:hover {
        .pl_card_header {
            background-color: $snore-black;
        }

        .pl_card_tag_container {
            .pl_card_tag {
                color: $snore-black;
            }
        }
    }
}

.pl_pages {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin: 0 5px;
    }
}