@import './global.scss';
@import '~highlight.js/styles/atom-one-dark.css';

$article-title-background: white;
$article-background: white;

code,
.code {
    display: block;
    font-family: 'Fira Code';
    font-weight: 500;
    border-radius: 5px;
}

.post {
    width: 1000px;
    margin: 10px auto;
    font-family: 'Noto Sans';
    padding: 15px;
    background: white;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
}

.p_title_container {
    text-align: left;
    font-size: 50px;
    margin-bottom: 30px;
    background-color: $article-title-background;
}

.p_title {
    padding: 50px 10px 10px 10px;
}

.p_info {
    display: grid;
    grid-template-columns: 180px 50px 1fr;
    margin: 0px 15px 10px 15px;

    .p_title_time {
        font-size: 15px;
        color: $snore-grey;
    }

    .p_edit {
        cursor: pointer;
        width: 50px;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        background-color: $snore-black;
        color:white;
        border-radius: 5px;
    }
}

.p_tag_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 10px;

    .p_tag {
        font-size: 16px;
        padding: 2px 5px;
        margin: 5px;
        border-radius: 10px;
        background-color: $snore-dark-grey;
        color: $snore-white;
        transition: color 0.5s;
    }
}

.p_article_container {
    background-color: $article-background;
}

// TODO: article 디자인 변경
.p_article {
    padding: 15px;
}
